<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="assets/styles/index.bundle.css">
    <meta charset="utf-8">
    <title>Proof of concept - shopping cart</title>
</head>
<body>

<div id="app">APPLICATION CONTENT</div>

<script src="assets/js/commons.js"></script>
<script src="assets/js/index.bundle.js"></script>
</body>
</html>
